@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "TommyFont";
  src: url("../src/assets/fonts/MADE\ TOMMY\ Black\ Outline_PERSONAL\ USE.otf")
    format("truetype");
  src: url("../src/assets/fonts/MADE\ TOMMY\ Medium\ Outline_PERSONAL\ USE.otf")
    format("truetype");
  src: url("../src/assets/fonts/MADE\ TOMMY\ Regular\ Outline_PERSONAL\ USE.otf")
    format("truetype");

  /* Include additional font styles (bold, italic, etc.) if needed */
}
body {
  font-family: "Tommy", sans-serif;
}
.custombackground {
  background-image: linear-gradient(to bottom, transparent, hsl(207, 90%, 8%)),
    url(../src/assets/cover.jpg);
}

.custombackground-2 {
  background-image: linear-gradient(to right bottom, hsla(207, 90%, 8%, 3.563), hsla(207, 41%, 23%, 0.75)),
    url(../src/assets/banner.jpg);
}


.slick-prev:before {
  content: '\2190' !important; /* Unicode arrow character for left arrow */
  font-family: initial !important;
}.slick-next:before {
  content: '\2192' !important; /* Unicode arrow character for left arrow */
  font-family: initial !important;
}


.slick-prev:before, .slick-next:before {
  color: white !important;
  font-size: 30px !important;
  font-weight: bolder !important;
}

.my-footer{
  clip-path: ellipse(50% 10% at 50% 50%);

}
.curved{
  background-image:
  url(../src/assets/Curved.png);
}

.w-100vw{
  width: 100vw !important;
}

.custom-clip-path {

  clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
}

@media (max-width: 1023px) {
  .custom-clip-path {

    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}




.slick-dots li button:before {
  font-size: 20px !important; /* Adjust the font size as needed */
  color: #89939B !important; /* Change this to the desired color */
}

.slick-dots li.slick-active button:before {
  color: #0DD999 !important; /* Change this to the desired color for active dots */
}